body,html
{
	margin: 0px;
	padding: 0px;
	height: 100%;
	font-family: sans-serif;
	scroll-behavior: smooth;
	font-family: 'Signika', sans-serif;
}
#container
{
	width: 100%;
	height: 100%;
	max-width: 100%;
}
#container .content
{
	background-color: #fff;
	padding :5% 0 4% 0;
}
.cover
{
	width:450px;
	max-width: 100%;
	background-color: #fff;
	padding: 15% 5% 15% 5%;
	border-radius: 20px;
	box-shadow: -5px 10px 15px -12px black;
	border: 1px solid #adadd7;
	position: relative;
	text-align: center;
}
.cover button
{
	margin-top: 20px;
}
#container .row
{

	display: flex;
	flex-wrap: wrap;
}
.background
{
	width: 40%;
	background: #ababf2;
	position: absolute;
	right: 0;
	height: inherit;
	border-radius: 110% 0 0 0;
	border:2px solid #e1e1e1;
}
.form
{
	padding: 5% 1% 5% 1%;
}
#form
{
	left: 6%;
}
#sampul
{
	left: 15%;
	margin-top: 2%;
}

#sampul img
{
	width: 96%;
}

.signin-text
{
	text-align: center;
	font-style: normal;
	font-weight: 600 !important;
}
.form-group
{
	margin: 0px;
}
.form-control
{
	display: block;
	width: 100%;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	border-color: #adadd7 !important;
	border-style: solid !important;
	color: #495057;
	height: auto;
	padding: 10px;
	border-radius: 55px;
	background-color: #fff;
	background-clip: padding-box;
}
.btn-class
{
	width: 100px;
	border-color:#00ac96;
	color:#00ac96;
	margin: 10px 37% 0 37%
}

.btn-class:hover
{
	background-color: #00ac96;
}